* {
  text-rendering: optimizeLegibility;
  font-family: "Maven Pro", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-color: black;
  color: #fff;
}

ion-icon {
  color: #fff;
}

.grey-font {
  color: #999;
}

section {
  padding: 64px 16px;
}
section h2 {
  margin-bottom: 32px;
}

.primary-button,
.secondary-button {
  padding: 16px 0;
  border: 1px solid #ffb539;
  margin: 16px 0;
}

.primary-button {
  display: block;
  text-align: center;
  background-color: #ffb539;
}

.secondary-button {
  display: block;
  text-align: center;
}

* {
  font-weight: 400;
}

p {
  max-width: 500px;
}

.bold-title {
  font-size: 3.4rem;
  line-height: 4.1rem;
  font-weight: 700;
}

.large-title {
  font-size: 3.4rem;
  line-height: 4.1rem;
}

.title-1 {
  font-size: 2.8rem;
  line-height: 3.4rem;
  font-weight: 700;
}

.title-2 {
  font-size: 2.2rem;
  line-height: 2.8rem;
  font-weight: 700;
  margin-bottom: 16px;
}

.title-3 {
  font-size: 2rem;
  line-height: 2.5rem;
}

.headline {
  font-size: 1.7rem;
  line-height: 2.2rem;
  font-weight: 500;
}

.body-text {
  font-size: 1.7rem;
  line-height: 2.2rem;
}

.callout {
  font-size: 1.6rem;
  line-height: 2.1rem;
}

.subhead {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

.footnote {
  font-size: 1.3rem;
  line-height: 1.8rem;
}

.caption-1 {
  font-size: 1.2rem;
  line-height: 1.6rem;
}

.caption-2 {
  font-size: 1.1rem;
  line-height: 1.3rem;
}

ion-icon {
  font-size: 3.2rem;
}

h1,
h2,
h3 {
  margin: 0;
}

a {
  color: #fff;
  text-decoration: none;
  font-size: 1.7rem;
  line-height: 2.2rem;
  font-weight: 500;
}

ul {
  font-size: 1.7rem;
  line-height: 2.2rem;
  padding-left: 20px;
}

nav {
  display: flex;
  align-items: center;
  padding: 0 16px;
}
nav button {
  margin-left: auto;
  width: 66px;
  height: 66px;
  border-width: 0;
  background-color: #ffb539;
  outline: none;
}

header {
  padding: 0 16px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -66px;
  background: linear-gradient(0deg, black 0%, rgba(0, 0, 0, 0) 100%), url("../img/pc_setup.jpg");
  background-size: cover;
  background-position: center;
}
header h1 {
  margin: 16px 0;
}

#about h1 {
  margin-bottom: 32px;
}
#about .headline {
  margin: 16px 0;
}
#about img {
  width: 214px;
  height: auto;
}
#about p {
  margin-bottom: 32px;
}
#about .social-icons {
  display: flex;
  justify-content: center;
}
#about .social-icons ion-icon {
  font-size: 5rem;
  padding: 16px;
}
#about .social-icons .linkedin {
  color: #2867b2;
}
#about .social-icons .instagram {
  color: #c13584;
}
#about .social-icons .twitter {
  color: #1da1f2;
}
#about .social-icons .youtube {
  color: #ff0000;
}

#skills h2 {
  margin-bottom: 16px;
}
#skills p {
  margin-bottom: 32px;
}
#skills .skill-item {
  margin-bottom: 32px;
}

.software-item,
.hardware-item {
  margin: 64px 0;
}
.software-item img,
.hardware-item img {
  width: 214px;
  height: auto;
}
.software-item h4,
.hardware-item h4 {
  margin: 16px 0;
  text-decoration: underline;
}
.software-item h5,
.hardware-item h5 {
  margin: 32px 0 16px;
}
.software-item P,
.hardware-item P {
  margin-bottom: 32px;
}
.software-item P:last-child,
.hardware-item P:last-child {
  margin: 0;
}

.software-item:last-child,
.hardware-item:last-child {
  margin-bottom: 0;
}

#work .work-item {
  margin-bottom: 64px;
}
#work .work-item img {
  width: 140px;
  height: auto;
}
#work .work-item h5 {
  margin: 16px 0;
}
#work .work-item span {
  font-weight: 500;
}
#work .work-item:last-child {
  margin: 0;
}

footer {
  text-align: center;
  background-color: #262331;
  padding: 32px 0;
}

/*# sourceMappingURL=index.css.map */
