#about {
  h1 {
    margin-bottom: 32px;
  }

  .headline {
    margin: 16px 0;
  }

  img {
    width: 214px;
    height: auto;
  }

  p {
    margin-bottom: 32px;
  }

  .flex-container {
    justify-content: center;
    @media (min-width: 442px) {
      justify-content: left;
      margin: 0;
    }
  }

  .primary-button,
  .secondary-button {
    @media (min-width: 442px) {
      margin: 16px 0;
    }
  }

  .primary-button {
    @media (min-width: 442px) {
      margin-right: 32px;
    }
  }

  .social-icons {
    display: flex;
    justify-content: center;
    cursor: pointer;

    ion-icon {
      font-size: 5rem;
      margin: 16px;
    }

    .linkedin {
      color: #2867b2;
    }

    .instagram {
      color: #c13584;
    }

    .twitter {
      color: #1da1f2;
    }

    .youtube {
      color: #ff0000;
    }

    &:first-child {
      a:first-child {
        ion-icon:first-child {
          @media (min-width: 442px) {
            margin-left: 0;
          }
        }
      }
    }
  }
}
