* {
  font-weight: 400;
}

.bold-title {
  font-size: 3.4rem;
  line-height: 4.1rem;
  font-weight: 700;
}

.large-title {
  font-size: 3.4rem;
  line-height: 4.1rem;
}

.title-1 {
  font-size: 2.8rem;
  line-height: 3.4rem;
  font-weight: 700;
}

.title-2 {
  font-size: 2.2rem;
  line-height: 2.8rem;
  font-weight: 700;
  margin-bottom: 16px;
}

.title-3 {
  font-size: 2rem;
  line-height: 2.5rem;
}

.headline {
  font-size: 1.7rem;
  line-height: 2.2rem;
  font-weight: 500;
}

.body-text {
  font-size: 1.7rem;
  line-height: 2.2rem;
}

.callout {
  font-size: 1.6rem;
  line-height: 2.1rem;
}

.subhead {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

.footnote {
  font-size: 1.3rem;
  line-height: 1.8rem;
}

.caption-1 {
  font-size: 1.2rem;
  line-height: 1.6rem;
}

.caption-2 {
  font-size: 1.1rem;
  line-height: 1.3rem;
}

ion-icon {
  font-size: 3.2rem;
}

h1,
h2,
h3 {
  margin: 0;
}

a {
  color: #fff;
  text-decoration: none;
  font-size: 1.7rem;
  line-height: 2.2rem;
  font-weight: 500;
}

ul {
  font-size: 1.7rem;
  line-height: 2.2rem;
  padding-left: 20px;
}

p {
  max-width: 500px;
}
