* {
  text-rendering: optimizeLegibility;
  font-family: "Maven Pro", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  background-color: black;
  color: #fff;
}

ion-icon {
  color: #fff;
}

.grey-font {
  color: $grey;
}

section {
  padding: 64px 16px;
  max-width: 640px;
  margin: 0 auto;

  h2 {
    margin-bottom: 32px;
  }

  p {
    max-width: 500px;
  }
}

.primary-button,
.secondary-button {
  padding: 16px 0;
  border: 1px solid $profile-orange;
  margin: 16px auto;
  width: 288px;
}

.primary-button {
  display: block;
  text-align: center;
  background-color: $profile-orange;
}

.secondary-button {
  display: block;
  text-align: center;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.nyit-font {
  color: #f7a81b;
}

.ub-font {
  color: #005dbc;
}

.lambda-font {
  color: #ec3944;
}
