body {
  background: #000;
  color: #fff;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1128px;
  margin: 0 auto;
}

section {
  padding: 64px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.pink-tan {
  color: #ffac8f;
}

.grey {
  color: #999;
}

.blue-bg {
  background-color: #4639ff;
}

.pink-tan-bg {
  background-color: #ffac8f;
}

.bold {
  font-weight: 700;
}
