#hero {
  display: flex;
  align-items: center;
  height: 750px;
  margin-top: -72.5px;

  .profile-pic {
    width: 500px;
    height: 500px;
    background: linear-gradient(270deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 50%), url("../img/profile-pic-square.png");
    background-size: cover;
  }

  .hero-square {
    width: 750px;
    height: 750px;
    background-color: #262331;
    position: absolute;
    z-index: -1;
    margin-left: 378px;
  }

  .intro {
    position: absolute;
    margin-left: 420px;
  }
}
