nav {
  display: flex;
  align-items: center;
  padding: 0 16px;
  max-width: 640px;
  margin: 0 auto;

  button {
    margin-left: auto;
    width: 66px;
    height: 66px;
    border-width: 0;
    background-color: $profile-orange;
    outline: none;
  }
}
