nav {
  display: flex;
  margin-top: 9.5px;
  padding: 0 32px;

  h3 {
    z-index: 1;
  }

  ul {
    display: flex;
    align-items: center;
    margin-left: auto;

    a {
      padding: 32px 16px;
    }

    .contact {
      background-color: #4639ff;
    }
  }
}
