#services {
  margin-bottom: 128px - 32px;
  .service-item {
    text-align: center;
    min-width: 234px;
    max-width: 234px;
    margin-right: 16px;
    padding: 32px 16px;
    background-color: #262331;

    &:nth-child(4) {
      margin-right: 0;
    }

    &:nth-child(1) {
      @media (min-width: 600px) {
        margin-bottom: 16px;
      }
    }

    &:nth-child(2) {
      @media (min-width: 600px) {
        margin-right: 0;
        margin-bottom: 16px;
      }
    }

    img {
      width: 76px;
      height: auto;
    }

    p {
      margin-bottom: 0;
    }

    @media (min-width: 600px) {
      max-width: 48.5%;
    }
  }

  h2,
  h3 {
    @media (min-width: $mobile-small) {
      padding-left: 20px;
    }
  }

  .carousel {
    @media (min-width: 600px) {
      max-width: 680px;
      margin: 0 auto;
      overflow: initial;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .carousel-space {
    @media (min-width: 600px) {
      display: none;
    }
  }
}
