.software-item,
.hardware-item {
  margin-bottom: 64px;
  width: 288px;
  img {
    width: auto;
    height: 285px;
  }

  h4 {
    margin: 16px 0;
    text-decoration: underline;
  }

  h5 {
    margin: 32px 0 16px;
  }

  P {
    margin-bottom: 32px;

    &:last-child {
      margin: 0;
    }
  }
}

.software-item:nth-child(1),
.software-item:nth-child(3),
.hardware-item:nth-child(1),
.hardware-item:nth-child(3) {
  @media (min-width: 500px) {
    margin-right: 32px;
  }
}

.software-item:nth-child(3) {
  @media (min-width: 500px) {
    margin-bottom: 0;
  }
}

.software-item:last-child,
.hardware-item:last-child {
  margin-bottom: 0;
}
