.software-item,
.hardware-item {
  margin: 64px 0;
  img {
    width: 214px;
    height: auto;
  }

  h4 {
    margin: 16px 0;
    text-decoration: underline;
  }

  h5 {
    margin: 32px 0 16px;
  }

  P {
    margin-bottom: 32px;

    &:last-child {
      margin: 0;
    }
  }
}

.software-item:last-child,
.hardware-item:last-child {
  margin-bottom: 0;
}
