#values,
#craftsmanship {
  margin-bottom: 128px - 32px;

  div {
    padding: 32px 0;
    padding-bottom: 88.5px + 32px;
    background-color: #4639ff;

    @media (min-width: $mobile-small) {
      padding-left: 20px;
      padding-right: 20px;
    }

    @media (min-width: 500px) {
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  img {
    width: 236px;
    height: auto;
    margin-top: -88.5px;

    @media (min-width: 500px) {
      width: 336px;
    }

    @media (min-width: 800px) {
      width: 500px;
    }
  }
}
