#work {
  .work-item {
    width: 288px;
    margin-bottom: 64px;
    img {
      width: 140px;
      height: auto;
    }

    h5 {
      margin: 16px 0;
    }

    span {
      font-weight: 500;
    }

    &:last-child {
      margin: 0;
    }
  }

  .work-item:nth-child(1),
  .work-item:nth-child(3) {
    @media (min-width: 500px) {
      margin-right: 32px;
    }
  }
}
