#work {
  margin-bottom: 128px - 32px;

  .work-item {
    max-width: 232px;
    min-width: 232px;
    margin-right: 16px;

    &:nth-child(3) {
      margin-right: 0;
    }
  }
  img {
    width: 152px;
  }

  h3,
  h2 {
    @media (min-width: $mobile-small) {
      padding-left: 20px;
    }
  }

  .carousel {
    @media (min-width: 768px) {
      overflow: auto;
      justify-content: space-evenly;
    }
  }

  .carousel-space {
    @media (min-width: 768px) {
      display: none;
    }
  }
}
